footer
  if !user_preferences.show_codeberg || user_preferences.show_codeberg === 'true'
    a(href="https://codeberg.org/teddit/teddit", target="_blank", rel="noopener noreferrer") https://codeberg.org/teddit/teddit/
