nav
  if user_preferences.subbed_subreddits && Array.isArray(user_preferences.subbed_subreddits)
    ul.flat
      li
        a(href='/r/popular') Popular
      li
        span
          ="-"
        a(href='/r/all') All
      li
        span
          ="-"
        a(href='/saved') Saved
      each subreddit, index in user_preferences.subbed_subreddits
        li
          if index == 0
            span
              ="|"
          else
            span
              ="-"
          a(href='/r/' + subreddit) #{subreddit}

  else if instance_config.suggested_subreddits && Array.isArray(instance_config.suggested_subreddits)
    ul.flat
      each subreddit, index in instance_config.suggested_subreddits
        if subreddit.toLowerCase() === 'saved'
          li
            span
              ="-"
            a(href='/saved') Saved
        else
          li
            if index == 3
              span
                ="|"
            else if index > 0 || index > 3
              span
                ="-"
            a(href='/r/' + subreddit) #{subreddit}
  a.more(href='/subreddits') more »
